$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
  background-color: #2980b9;
  color: #f1c40f;
}

legend {
  color: #ae930b;
}

.blog-header {
  text-align: center;
}

.HeaderPicture {
  background-image: url('https://i.imgur.com/qjQfT5v.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 253px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 595px;
}

#error-message {
  font-size: 20px;
  text-align: center;
}
